.buy-now-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$bg-color-darker;
  padding: 3em 3.5em;

  .left,
  .right {
    display: flex;
    flex-direction: column;
  }

  h2 {
    padding-top: 1em;
    color: colors.$textColorWhite;
    font-size: 2em;
    font-weight: 400;
    margin: 0 auto;
  }

  h2::after {
    display: block;
    margin: 10px auto;
    width: 150px;
    content: " ";
    border: 1px solid colors.$hoverTextColor;
  }

  .left {
    margin-top: 2.5em;
    p,
    h3 {
      color: colors.$textColorWhite;
      margin-bottom: 1.5em;
    }

    p span {
      color: colors.$reviews-colors;
      position: relative;
      bottom: 10px;
      font-size: 14px;
    }

    p {
      width: 90%;
      line-height: 1.3em;
    }

    h3 {
      font-weight: 400;
    }

    .rates {
      height: 20px;
    }

    .buy-now:link,
    .buy-now:visited {
      color: colors.$linkColor;
      border: 2px solid transparent;
      background-color: colors.$yellow;
      align-self: flex-start;
      padding: 4px 20px;
      border-radius: 0.3em;
      cursor: pointer;
      margin-top: 1em;
      transition: all 0.3s;
    }

    .buy-now:hover,
    .buy-now:active {
      background-color: colors.$darkerYellow;
      border: 2px solid colors.$darkerYellow;
      color: colors.$hoverTextColor;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .hide {
      display: none;
    }

    .show {
      display: block;
      margin-right: 2.5em;
    }

    .colors {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
      height: auto;
      width: 100px;

      p {
        color: colors.$textColorWhite;
        margin-bottom: 0.5em;
      }

      .btn {
        border: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all 0.3s;
        margin-bottom: 0.5em;
      }

      .btn:hover {
        border: 2px solid rgb(8, 5, 156);
      }

      .selected {
        border: 2px solid rgb(8, 5, 156);
      }

      .btn-red {
        background-color: red;
      }

      .btn-black {
        background-color: black;
      }

      .btn-grey {
        background-color: rgb(63, 63, 63);
      }

      .btn-gold {
        background-color: #dfc9b6;
      }
    }
  }
}
