.feature {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 4em 3em;

  div:first-of-type {
    margin-right: 3em;
    margin-left: 1em;
  }

  .feature-image {
    width: 50%;
  }

  .feature-image img {
    width: 100%;
    border-radius: 2px;
    transition: all 0.3s;
  }

  .feature-image:hover > img {
    border-radius: 5px;
  }

  .feature-desc {
    width: 42%;
    padding: 0;

    h2,
    p {
      margin-bottom: 1em;
    }

    h2 {
      color: colors.$baseColor;
      font-size: 1.8em;
      font-weight: 500;
    }

    p {
      font-weight: 400;
    }

    h2::after {
      display: block;
      width: 150px;
      content: " ";
      border: 1px solid colors.$baseColor;
      margin: 10px 0;
    }
  }
}

.feature-one,
.feature-three {
  flex-wrap: wrap-reverse;
}

.feature-two {
  background-color: colors.$bg-color;
}

.feature-three {
  margin-bottom: 2em;
}
