.get-in-touch {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  background-color: colors.$bg-color;

  h2 {
    color: colors.$baseColor;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.5em;
  }

  h2::after {
    display: block;
    margin: 5px auto;
    width: 250px;
    content: " ";
    border: 1px solid colors.$baseColor;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;

    .img {
      width: 50%;
    }
  }

  .right {
    color: colors.$baseColor;

    p,
    .message,
    .email {
      margin-bottom: 2em;
    }

    .email,
    .message {
      width: 90%;
      border-radius: 5px;
      outline: none;
      background-color: colors.$bg-color-white;
    }

    .email::placeholder,
    .message::placeholder {
      color: colors.$baseColor;
    }

    p {
      font-weight: 400;
      width: 90%;
    }

    .message {
      resize: none;
      border: 0;
      height: 250px;
      padding: 1em;
    }

    .email {
      border: 0;
      height: 40px;
      padding-left: 1em;
      display: block;
    }

    .send-email {
      padding: 8px 40px;
      color: colors.$textColorWhite;
      background-color: colors.$baseColor;
      border: 2px solid transparent;
      font-weight: 400;
      cursor: pointer;
      margin-bottom: 2em;
      border-radius: 0.3em;
      transition: all 0.3s;
    }

    .send-email:hover {
      border: 2px solid colors.$baseColor;
      color: colors.$baseColor;
      background: transparent;
    }
  }
}
