body {
  font-size: 80%;
}

.header-section {
  .hero-text {
    transform: translate(1em, 150%);
  }
}

.overview-section {
  .long-text {
    width: 80%;
    padding: 0 2em;
  }

  .features-boxes {
    justify-content: flex-start;
    padding: 0 3em;
    width: 100%;

    .box {
      max-width: 50%;
      border: 1px solid red;
    }
  }

  .microphone,
  .wireless,
  .ear {
    height: 6em;
  }
}

.features {
  padding: 4em 3em;
  .feature {
    padding: 3em 0;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .feature-desc {
      padding-right: 0;
    }

    .feature-desc:nth-child(odd) {
      padding-left: 0;
      // border: 1px solid red;
      p,
      h2 {
        max-width: 90%;
      }
    }
  }

  .feature:last-of-type {
    padding-bottom: 0;
    // border: 1px solid blue;
  }

  .feature:first-of-type {
    padding-top: 0;
  }
}
