body {
  font-size: 90%;
}

.header-section {
  height: auto;

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 2em;

    .hero-text {
      transform: translate(0, 0);
      position: static;
      letter-spacing: 3px;
      order: 2;

      .hero-child {
        display: block;
        font-weight: 400;
        font-size: 100%;
        .hero-child {
          display: block;
          font-size: 100%;
        }
      }
    }

    .beautiful-girl {
      position: static;
      transform: translateY(0);
      margin-bottom: 1em;
    }
  }

  .responsive {
    display: none;
  }

  .main-nav {
    padding: 1em 1em 0;
    .menu-container {
      display: block;
    }

    .home {
      .core-icon {
        height: 50px;
      }
    }

    .main-nav-links {
      display: none;
    }
  }
}

.wrapper {
  margin: 0 0 3em;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "left"
    "right";
}

.overview-section {
  .long-text {
    width: 100%;
    padding: 0 3em;
  }

  .box {
    max-width: 100%;
    padding: 2em 0;
  }
}

.features {
  flex-direction: column;
  align-items: center;

  .feature {
    width: 100%;
    padding: 3em;

    div:first-of-type {
      margin: 0;
    }

    .feature-desc {
      width: 100%;
      padding: 0 0 1em;
    }

    .feature-image {
      width: 100%;
    }
  }
}

//Buy now section
.buy-now-section {
  align-items: center;
  padding: 3em 3em;

  h2 {
    font-size: 180%;
  }

  .wrapper {
    .left {
      margin-bottom: 2em;
      p {
        width: 100%;
        text-align: start;
        span {
          font-size: 12px;
        }
      }

      .buy-now {
        text-align: center;
      }
    }

    .right {
      flex-direction: column;
      align-items: center;

      .slide-next {
        width: 60%;
        transition: all 0.3s;
        margin: 2.5em;
      }

      .colors {
        flex-direction: row;
        width: 200px;

        p {
          display: none;
        }

        .btn {
          margin-right: 0.5em;
          height: 40px;
        }
      }
    }
  }
}

//Get In Touch Styling
.get-in-touch {
  h2 {
    font-size: 180%;
    margin-bottom: 1em;
  }

  h2::after {
    width: 220px;
  }

  .left {
    margin-bottom: 3em;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em;

    .send-email {
      text-align: center;
      align-self: flex-start;
      margin-left: 1.5em;
    }
  }
}

// Footer Sections
.footer-section {
  .boxes {
    flex-wrap: nowrap;
  }
}
