$borderColor: #000;
$baseColor: rgb(39, 38, 38);

$textColor: #090404;
$textColorWhite: rgb(231, 231, 231);
$textColorDarker: #000000;
$linkColor: #090404;
$linkHvrColor: rgb(61, 61, 43);
$reviews-colors: rgb(107, 107, 103);

$bg-color: #f7f7f7;
$bg-color-white: #dfdfdf;
$bg-color-dark: rgb(22, 22, 22);
$bg-color-darker: rgb(19, 19, 19);

$hoverBgColor: #090404;
$hoverTextColor: #fff;
