$borderColor: #000;
$baseColor: rgb(39, 38, 38);

$darkerYellow: #f3c702;
$yellow: #ffd200;
$navYellow: #ffd20b;
$plainYellow: #fffae4;

$buyNowYellow: #e74c3c;

$textColor: #090404;
$textColorWhite: rgb(231, 231, 231);
$textColorDarker: #000000;
$linkColor: #090404;
$linkHvrColor: rgb(61, 61, 43);
$reviews-colors: rgb(233, 233, 233);

$bg-color: #f7f7f7;
$bg-color-white: #f0f0f0;
$bg-color-dark: rgb(90, 32, 32);
$bg-color-darker: rgb(19, 19, 19);

$hoverBgColor: #090404;
$hoverTextColor: #fff;
