$borderColor: #000;
$baseColor: rgb(39, 38, 38);

$textColor: #090404;
$textColorWhite: rgb(231, 231, 231);
$textColorDarker: #000000;
$linkColor: #090404;
$linkHvrColor: rgb(61, 61, 43);

$bg-color: #f7f7f7;
$bg-color-dark: #000;
$hoverBgColor: #090404;
$hoverTextColor: #fff;
