@use "colors";

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

.footer-section {
  grid-area: footer;
  height: 50vh;
  background: colors.$baseColor;
  display: flex;
  flex-direction: column;

  .boxes {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    height: 250px;

    .site-map-box,
    .social-networks-box {
      display: flex;
      flex-direction: column;
      width: 350px;
    }

    .site-map-box {
      border-right: 2px solid colors.$bg-color;
      height: 100%;

      a {
        align-self: center;
      }

      .map-icon {
        align-self: center;
        height: 80px;
      }

      .site-links {
        margin-top: 1em;
        margin-left: 4em;
      }

      .site-links li {
        margin-bottom: 0.5em;
        list-style-type: none;
      }

      .site-links li a:link,
      .site-links li a:visited {
        color: colors.$textColorWhite;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        transition: all 0.3s;
        letter-spacing: 1px;
      }

      .site-links li a:hover,
      .site-links li a:active {
        color: #fff;
        border-bottom: 2px solid colors.$textColorWhite;
        padding-bottom: 0.3em;
      }
    }
  }

  .social-networks-box {
    padding-top: 3em;
    padding-left: 4em;

    h4 {
      color: colors.$textColorWhite;
      font-weight: 400;
      margin-bottom: 1.5em;
    }

    .social-links li a:link,
    .social-links li a:visited {
      color: colors.$textColorWhite;
      text-decoration: none;
      transition: all 0.3s;
      letter-spacing: 1px;
    }

    .social-links li {
      margin-bottom: 0.5em;
      list-style-type: none;

      .facebook:hover {
        color: rgb(14, 100, 230);
      }

      .twitter:hover {
        color: rgb(13, 201, 214);
      }

      .instagram:hover {
        color: rgb(131, 58, 180);
      }

      .linkedin:hover {
        color: #0e76a8;
      }
    }
  }

  .author-rights {
    align-self: center;
    margin-top: auto;
    margin-bottom: 1em;
    color: colors.$textColorWhite;
  }
}
