@use 'colors';
@import "mixins";

/* ----------------------------------------------- */
/* HEADER 
/* ----------------------------------------------- */

header {
  grid-area: header;
  @include elementBG(
    "images/features-background-listendhd.svg",
    "clean",
    100vh,
    static
  );

  .hero-text {
    position: absolute;
    transform: translate(2em, 5em);
    letter-spacing: 3px;

    .hero-child-big {
      font-size: 200%;
    }

    .hero-child {
      font-weight: 300;
      display: block;
    }
  }

  .beautiful-girl {
    position: absolute;
    right: 35px;
    transform: translateY(6em);
    filter: opacity(90%);
  }
}

/* ------ Main Site Navigation ------*/

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em 0;

  .home {
    .core-icon {
      position: relative;
      z-index: 10;
    }
  }

  .menu-container {
    display: none;
    border: 2px solid #333;
    padding: 0.2em 0.3em;
    right: 0.4em;
    z-index: 10;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 31px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }

  .change {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-4px, 6px);
      transform: rotate(-45deg) translate(-4px, 6px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-4px, -6px);
      transform: rotate(45deg) translate(-4px, -6px);
    }
  }

  /* ------ Site Core Logo ------*/
}

.sticky-nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0.4em 3em 0;
  width: 100%;
  z-index: 5;
  transition: 0.5s;
  box-shadow: 0 5px rgb(233, 233, 233);
}

.main-nav-links {
  list-style: none;

  li {
    display: inline-block;
    margin-left: 0.3em;

    .normal-link:link,
    .normal-link:visited {
      border-bottom: 2px solid transparent;
      padding-bottom: 5px;
      transition: all 0.4s;
    }

    a {
      padding: 0 1em;
    }

    .normal-link:hover,
    .normal-link:active {
      color: colors.$linkHvrColor;
      border-bottom: 2px solid colors.$linkHvrColor;
    }
  }
}
