@use 'colors';
@import "mixins";

/* ----------------------------------------------- */
/* HEADER 
/* ----------------------------------------------- */

header {
  grid-area: header;
  @include elementBG(
    "images/features-background-listendhd.svg",
    "clean",
    100vh,
    static
  );

  .hero-text {
    position: absolute;
    transform: translate(15%, 60%);
    letter-spacing: 3px;

    .hero-child-big {
      font-size: 220%;
    }

    .hero-child {
      font-weight: 300;
      display: block;
    }
  }

  .beautiful-girl {
    position: absolute;
    right: 35px;
    height: 450px;
    transform: translateY(10%);
    filter: opacity(90%);
  }
}

/* ------ Main Site Navigation ------*/

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 3em 0;

  .menu-container {
    display: none;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }

  /* ------ Site Core Logo ------*/

  .home {
    .core-icon {
      height: 100px;
    }
  }
}

.main-nav-links {
  list-style: none;

  li {
    display: inline-block;
    margin-left: 1em;

    .normal-link:link,
    .normal-link:visited {
      border-bottom: 2px solid transparent;
      padding-bottom: 5px;
      transition: all 0.4s;
    }

    a {
      padding: 0 1em;
    }

    .normal-link:hover,
    .normal-link:active {
      color: colors.$linkHvrColor;
      border-bottom: 2px solid colors.$linkHvrColor;
    }
  }
}
