@use 'colors';

.float-nav {
  position: fixed;
  display: flex;
  transform: translate(100%, 0);
  background-color: colors.$yellow;
  height: 100vh;
  width: 100%;
  z-index: 3;
  opacity: 0;
  border-left: 1px solid #e2b902;
  transition: 0.5s;

  .navigation {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2em;
    padding-left: 2em;

    img {
      height: 80px;
      align-self: center;
      margin-bottom: 1em;
    }

    ul {
      list-style: none;
    }

    ul li {
      margin-bottom: 1em;
    }
  }
}

.show {
  transform: translate(0, 0);
  opacity: 1;
}

/* Small phones: from 361px to 480px */
@media (max-width: 480px) {
  @import "./responsivity/smaller.scss";
}

/* Small phones to small tablets: from 481px to 767px */
@media (min-width: 481px) and (max-width: 768px) {
  @import "./responsivity/small.scss";
}

/* Small tablet to big tablet: from 768px to 1023px */
@media (max-width: 1023px) {
}

/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media (max-width: 1200px) {
}
