/* Small phones: from 0 to 480px */
@media (max-width: 480px) {
  // General
  body {
    font-size: 16px;
  }

  .wrapper {
    margin: 0 0 3em;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "left"
      "right";
  }

  // Header Styling
  .main-nav {
    .core-icon {
      height: 60px;
      margin-top: 1em;
      margin-left: 1em;
    }

    .main-nav-links {
      display: none;
    }
  }

  .overview-section {
    h2 {
      font-size: 180%;
      margin-bottom: 1em;
    }

    .long-text {
      min-width: 80%;
      margin-bottom: 2em;
    }
  }

  .features-boxes {
    flex-direction: column;

    .box {
      width: 100%;
      padding: 2em 3em;

      h3 {
        font-size: 110%;
        margin-bottom: 0.3em;
      }

      p {
        width: 100%;
        text-align: justify;
      }

      .microphone,
      .wireless,
      .ear {
        height: 5em;
      }
    }

    .box:nth-child(even) {
      background-color: rgba(0, 0.2, 0.1, 0.1);
    }
  }

  //Get In Touch Styling
  .get-in-touch {
    h2 {
      font-size: 180%;
      margin-bottom: 1em;
    }

    h2::after {
      display: block;
      width: 220px;
    }

    .left {
      margin-bottom: 3em;
      .img {
        max-width: 30%;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 2em;

      .send-email {
        width: 90%;
        text-align: center;
      }
    }
  }

  // Footer Styling
  .footer-section {
    flex-direction: column;
    align-items: center;

    .boxes {
      width: 100%;
      display: flex;
      flex-direction: column;

      div {
        margin-bottom: 2em;
        width: 100%;
        padding: 0 3em;
      }

      .site-map-box {
        border: 0;

        .map-icon {
          margin-bottom: 0.5em;
          align-self: center;
        }

        a {
          align-self: flex-start;
        }

        .site-links {
          margin-top: 1em;
          margin-left: 0;
        }
      }
    }
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media (max-width: 767px) {
}

/* Small tablet to big tablet: from 768px to 1023px */
@media (max-width: 1023px) {
}

/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media (max-width: 1200px) {
}
